---
import Layout from '../layouts/Layout.astro';
import Goodscard from '../components/goodList.astro';
---

<Layout>
<main class="mt-48 w-11/12 mx-auto">
  <h2 class="text-center font-medium text-3xl mb-14">Item</h2>
  <Goodscard  />
</main>
</Layout>