---

---

<header class="fixed py-7 w-full top-0 left-0 bg-white z-50 shadow-sm">
  <div class="w-11/12 max-xl: mx-auto flex justify-between">
    <h1 class="text-3xl">My shop</h1>
    <ul class="flex items-center">
    <li><a href="/">HOME</a></li>
    <li class="ml-3"><a href="/about">ABOUT</a></li>

    </ul>
  </div>
</header>